.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(10/10)*10px;
	width:(18/10)*1em;
}
.icon-arrow-circle {
	font-size:(18/10)*10px;
	width:(21/18)*1em;
}
.icon-arrow-reply {
	font-size:(24/10)*10px;
	width:(24/24)*1em;
}
.icon-check {
	font-size:(24/10)*10px;
	width:(24/24)*1em;
}
.icon-close {
	font-size:(24/10)*10px;
	width:(24/24)*1em;
}
.icon-comment {
	font-size:(16/10)*10px;
	width:(16/16)*1em;
}
.icon-enter {
	font-size:(24/10)*10px;
	width:(24/24)*1em;
}
.icon-eye {
	font-size:(12/10)*10px;
	width:(16/12)*1em;
}
.icon-facebook {
	font-size:(48/10)*10px;
	width:(48/48)*1em;
}
.icon-google {
	font-size:(48/10)*10px;
	width:(48/48)*1em;
}
.icon-home {
	font-size:(16/10)*10px;
	width:(16/16)*1em;
}
.icon-page-adapt {
	font-size:(512/10)*10px;
	width:(512/512)*1em;
}
.icon-save {
	font-size:(39/10)*10px;
	width:(28/39)*1em;
}
.icon-search {
	font-size:(24/10)*10px;
	width:(24/24)*1em;
}
.icon-send {
	font-size:(24/10)*10px;
	width:(24/24)*1em;
}
.icon-sort {
	font-size:(18/10)*10px;
	width:(20/18)*1em;
}
.icon-vk {
	font-size:(48/10)*10px;
	width:(48/48)*1em;
}
