//- ============== empty link
- var empty_url = 'javascript:void(0)';


//- ============ categories
-
    var categories = [
        'CS:go',
        'Dota',
        'Видеоконтент',
        'Соревнования',
        'Стримы',
        'Категория'
    ]

//- ============== tags
-
    var tags = [
        'dota',
        'персонажи',
        'обновления',
        'фичи',
        'прохождение',
        'maps'
    ]