include ./_mixins
include ./_data

-
    var bread = [
        {
            name:"Главная",
            href:"index.html"
        },
        {
            name:"Catalog А",
            href:"catalog.html"
        },
        {
            name:"Catalog B",
            href:"catalog2.html"
        }
    ]

<!DOCTYPE html>
html(lang="ru")
    head
        +metahead
        title Catalog B
        include ./_styles
    body
        include _header

        main
            +breadcrumbs(bread)
            section.section
                .container
                    .container__sm
                        .text
                            h2 CS:go
                            p Самые актуальные новости из мира CS:GO, интервью, полезные статьи, аналитика матчей и событий, репортажи с турниров, гайды и многое другое. Будь в курсе и качай свой скилл здесь!
                    .tag-block
                        .tag-block__title
                            +title('h4', 'div', 'Хештеги')
                            .tag-remove
                                +icon('close')
                                span Сбросить
                        - for(var i = 0; i < 5; i ++)
                            each item in tags
                                .tag #!{item}
                        .tag-more + Еще <span></span>
                    .sort
                        +icon('sort')
                        .sort-selected Короткие статьи
                        .sort-arrow
                        .sort-list
                            span Сначала короткие
                            span Сначала длинные
                            span Сначала новые
                            span Сначала популярные
                    .col-three.col-three__wrap
                        - for (var i = 0; i < 9; i ++)
                            a(href=empty_url).item-block.col
                                .item-block__save
                                    +icon('save')
                                .item-block__pic
                                    +img('item-home.jpg')
                                    .item-block__marks
                                        .mark.mark__orange Dota
                                        .mark.mark__velvet Видеоконтент
                                .item-block__desc
                                    .item-block__info
                                        span
                                            +icon('eye')
                                            | 1,247
                                        span
                                            +icon('comment')
                                            | 15
                                    .item-block__title В ожидании финала зимней лиги DPC 2021
                                    .item-block__text До конца зимней лиги DPC 2021 в пяти регионах осталось всего лишь три дня, а из 18 участников Singapore Major мы знаем ...
                                    .item-block__date 12.02.21
                                    .item-block__time читать 15 мин
                    +link-more('Показь еще')




        include _footer
        include ./_scripts
